@import "../../variables.scss";

.ord-section h1 {
  font-size: 3.5rem;
  height: 10rem;
}

.wrap,
.course {
  width: 100%;
}

@media (min-width: 55rem) {
  .ord-section h1 {
    font-size: 5rem;
    height: 20rem;
  }
}
