<app-header [checkout]="false"></app-header>
<main>
    <section class="brand__presentation">
        <!-- <h1>La Villetta Di Re Artu</h1> -->
        <img id="big-logo" src="../../assets/images/logo.webp" alt="La Villetta Di Re Artu" width="612" height="551">
        <img id="small-logo" src="../../assets/images/logo-small.webp" alt="La Villetta Di Re Artu" width="350" height="350">
    </section>

    <section class="bio">
        <div class="bio__img">
            <img src="../../assets/images/bio-small.webp" alt="BioImg" height="500" width="350">
        </div>
        <div class="bio__desc">
            <h2>Name and Lastname</h2>
            <div class="bio__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus aut totam architecto iusto blanditiis maxime enim obcaecati, accusantium, nesciunt quibusdam omnis magnam consequatur porro consectetur repudiandae reiciendis molestias. Veritatis, in!
            </div>
        </div>
    </section>
    
    <!-- <section *ngIf="specials.length > 0" class="specials">
        <h1>Specials Menu</h1>

        <app-menu-item class="wrap"
            *ngFor="let special of specials; let i = index" 
            [name]="special.name" 
            [description]="special.description"
            [imageUrl]="special.imageUrl"
            [price]="special.price"
            [divider]="i + 1 < specials.length">
        </app-menu-item>

    </section>

    
    <section *ngIf="specials.length < 1" class="empty">
        <h1>No Specials available at this time</h1>
    </section> -->

    <section *ngIf="regQty > 0" class="regulars">
        <h1>Menu</h1>

        <div *ngIf="antipasti.length > 0" class="course">
            <div class="course-title">Antipasto</div>

            <app-menu-item class="wrap"
                *ngFor="let dish of antipasti; let i = index" 
                [name]="dish.name" 
                [description]="dish.description"
                [imageUrl]="dish.imageUrl"
                [price]="dish.price"
                [divider]="i + 1 < antipasti.length">
            </app-menu-item>
        </div>
        
        <div *ngIf="primi.length > 0" class="course">
            <div class="course-title">Primo</div>

            <app-menu-item class="wrap"
                *ngFor="let dish of primi; let i = index" 
                [name]="dish.name" 
                [description]="dish.description"
                [imageUrl]="dish.imageUrl"
                [price]="dish.price"
                [divider]="i + 1 < primi.length">
            </app-menu-item>
        </div>

        <div *ngIf="secondi.length > 0" class="course">
            <div class="course-title">Secondo</div>

            <app-menu-item class="wrap"
                *ngFor="let dish of secondi; let i = index" 
                [name]="dish.name" 
                [description]="dish.description"
                [imageUrl]="dish.imageUrl"
                [price]="dish.price"
                [divider]="i + 1 < secondi.length">
            </app-menu-item>
        </div>

        <div *ngIf="pizze.length > 0" class="course">
            <div class="course-title">Pizza</div>

            <app-menu-item class="wrap"
                *ngFor="let dish of pizze; let i = index" 
                [name]="dish.name" 
                [description]="dish.description"
                [imageUrl]="dish.imageUrl"
                [price]="dish.price"
                [divider]="i + 1 < pizze.length">
            </app-menu-item>
        </div>

        <div *ngIf="desserts.length > 0" class="course">
            <div class="course-title">Dessert</div>

            <app-menu-item class="wrap"
                *ngFor="let dish of desserts; let i = index" 
                [name]="dish.name" 
                [description]="dish.description"
                [imageUrl]="dish.imageUrl"
                [price]="dish.price"
                [divider]="i + 1 < desserts.length">
            </app-menu-item>
        </div>

        <div *ngIf="beverages.length > 0" class="course">
            <div class="course-title">Beverage</div>

            <app-menu-item class="wrap"
                *ngFor="let dish of beverages; let i = index" 
                [name]="dish.name" 
                [description]="dish.description"
                [imageUrl]="dish.imageUrl"
                [price]="dish.price"
                [divider]="i + 1 < beverages.length">
            </app-menu-item>
        </div>
    </section>


    <section *ngIf="regQty < 1" class="empty">
        <h1>No items on the menu at this time</h1>
    </section>


    <div class="extra-bg">
    </div>

    <section class="contact">
        <h1>Contact</h1>
        <div class="divider"></div>
        <h3><a [href]="'tel:'+settings.phone">{{ settings.phone }}</a></h3>
        <h3><a [href]="'mailto:'+settings.email">{{ settings.email }}</a></h3>
        <!-- Address -->
        <h3><a [href]="addressLink" target="_blank" rel="noopener noreferrer">{{ settings.address }}</a></h3>
        <div class="social">
            <a [href]="settings.facebookLink" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-square"></i></a>
            <a [href]="settings.instagramLink" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram-square"></i></a>
        </div>
    </section>
</main>

<app-footer></app-footer>