<footer class="main-footer">
    <div class="info">
        <div class="open-hours">
            <h1>Opening Hours</h1>
            <h3>Monday: {{ settings.monOpn | date: "h:mm a"}} - {{ settings.monCls | date: "h:mm a"}}</h3>
            <h3>Tuesday: {{ settings.tueOpn | date: "h:mm a"}} - {{ settings.tueCls | date: "h:mm a"}}</h3>
            <h3>Wednesday: {{ settings.wedOpn | date: "h:mm a"}} - {{ settings.wedCls | date: "h:mm a"}}</h3>
            <h3>Thursday: {{ settings.thuOpn | date: "h:mm a"}} - {{ settings.thuCls | date: "h:mm a"}}</h3>
            <h3>Friday: {{ settings.friOpn | date: "h:mm a"}} - {{ settings.firCls | date: "h:mm a"}}</h3>
            <h3>Saturday: {{ settings.satOpn | date: "h:mm a"}} - {{ settings.satCls | date: "h:mm a"}}</h3>
            <h3>Sunday: {{ settings.sunOpn | date: "h:mm a"}} - {{ settings.sunCls | date: "h:mm a"}}</h3>
        </div>

        <div class="footer__logo">
            <img src="../../../assets/images/logo.png" alt="LOGO" width="370" height="370">
        </div>

        <div class="divider"></div>

        <nav>
            <ul class="main-footer__links">
                <li class="main-footer__link">
                    <a href="#">Privacy Policy</a>
                </li>
                <li class="main-footer__link">
                    <a href="#">Terms of Use</a>
                </li>
            </ul>
        </nav>
    </div>

    <h1 class="copyright">&copy; 2021 Copyright. All rights reserved.</h1>
</footer>