<footer class="main-footer">
    <div class="info">
        <div class="open-hours">
            <h1>Opening Hours</h1>
            <h3>Monday: {{ settings.monOpn }} - {{ settings.monCls }}</h3>
            <h3>Tuesday: {{ settings.tueOpn }} - {{ settings.tueCls }}</h3>
            <h3>Wednesday: {{ settings.wedOpn }} - {{ settings.wedCls }}</h3>
            <h3>Thursday: {{ settings.thuOpn }} - {{ settings.thuCls }}</h3>
            <h3>Friday: {{ settings.friOpn }} - {{ settings.firCls }}</h3>
            <h3>Saturday: {{ settings.satOpn }} - {{ settings.satCls }}</h3>
            <h3>Sunday: {{ settings.sunOpn }} - {{ settings.sunCls }}</h3>
        </div>

        <div class="footer__logo">
            <img src="../../../assets/images/logo.png" alt="LOGO" width="370" height="370">
        </div>

        <div class="divider"></div>

        <nav>
            <ul class="main-footer__links">
                <li class="main-footer__link">
                    <a href="#">Privacy Policy</a>
                </li>
                <li class="main-footer__link">
                    <a href="#">Terms of Use</a>
                </li>
            </ul>
        </nav>
    </div>

    <h1 class="copyright">&copy; 2021 Copyright. All rights reserved.</h1>
</footer>